.about-sec {
    background-image: url(../img/about-bg.jpg);
    height: 640px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    .about-main {
        margin-bottom: -43%;

        .about-info {
            h2 {
                font-size: 16px;
                font-weight: 600;
                text-align: center;
            }

            p {
                font-family: $play;
                font-size: 16px;
                font-style: italic;
                font-weight: 600;
            }

            a.link {
                color: #00b0ff;
                font-size: 14px;
                font-weight: 600;
                text-decoration: none;
                border-bottom: 2px solid #00b0ff;
            }
        }

        .video {
            background-image: url(../img/video-bg.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 300px;
            -webkit-box-shadow: 0px 17px 94px -13px rgba(0,0,0,0.83);
            -moz-box-shadow: 0px 17px 94px -13px rgba(0,0,0,0.83);
            box-shadow: 0px 17px 94px -13px rgba(0,0,0,0.83);

            img.play-btn {
                width: 70px;
            }

            a {
                border: 1px solid #ffff;
                border-radius: 50%;
                height: 130px;
                width: 130px;
                line-height: 115px;
            }
            
        }
    }
}
.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}



.modal-body {
position:relative;
padding:0px;
}
.close {
position:absolute;
right:-30px;
top:0;
z-index:999;
font-size:2rem;
font-weight: normal;
color:#fff;
opacity:1;
}


@include media-breakpoint-down(md) {
.about-main {
    flex-direction: column-reverse;
}
}